# Byte-compiled / optimized Python files
__pycache__/
*.py[cod]

# IDE/Editor specific files
.idea/
.vscode/

# Compiled Python files
*.pyc

# Logs and data files
*.log
*.csv
*.json

# Dependency directories
node_modules/
venv/